/* common */
* {margin: 0; padding: 0;}
ul li{list-style: none;}
a {text-decoration: none; color:#333;}

/* header */
ul.menuBox{}
ul.menuBox > li {
    display: inline-block;
    width: 150px;
    padding: 10px;
    text-align: center;
}
ul.menuBox > li ul.subBox{
    /*display: none;*/
    position: absolute;
    left: 50px;
}
